.boton_Saber-mas {
    border: solid 3px #1c70ae;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
    transition: 1s;
    display: inline-block;
}

h1 {
    margin-left: 180px;
}